{% extends 'base.html.twig' %}

{% block title %}Customer review shopify app
{% endblock %}


{% block body %}
	<!--GROWING ONLINE TITLE-->
	<div class="container py-5">
		<h2 class="text-center" id="grow-title">Grow Your Online Store
			<br>
			<span class="text-info">In 4 Easy Steps</span>
		</h2>
	</div>
	<!--NAVIGATION BAR-->
	<div class="nav-wrapper  navbar-light bg-light">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<img src="/images/logo.png" alt="logo" id="logo">
				<button id="dropdown-size" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link dropdown-toggle" href="#" id="mega-one" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Features
							</a>
							<div
								class="dropdown-menu mega-area" aria-labelledby="mega-one">
								<!--First row-->
								<div
									class="row" id="dropdown-size">
									<!--FIRST COLUMN-->
									<div class="col-lg-6">
										<h6>Install & Customize Widgets</h6>
										<p>Increase conversions by displaying reviews in user-friendly and customizable widgets: review widget, star ratings, review carousel, Q&A, and more.</p>

										<h6>Manage Reviews</h6>
										<p>Easily follow up on customer feedback by sending replies, featuring your best reviews, and launching marketing campaigns with our app partners.</p>
									</div>
									<!--END OF FIRST COLUMN-->

									<!--SECOND COLUMN-->
									<div class="col-lg-6">
										<h6>Collect more reviews Automatically</h6>
										<p>Increase conversions by displaying reviews in user-friendly and customizable widgets: review widget, star ratings, review carousel, Q&A, and more.</p>

										<h6>Share Reviews across multiple channels</h6>
										<p>Easily follow up on customer feedback by sending replies, featuring your best reviews, and launching marketing campaigns with our app partners.</p>
									</div>
									<!--END OF THE SECOND COLUMN-->
								</div>
								<!--END OF THE FIRST ROW-->
							</div>
						</li>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Why Judge.me</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Plans</a>
					</li>

					<!--DROPDOWN-->
					<li class="nav-item dropdown menu-area">
						<a class="nav-link dropdown-toggle" href="#" id="mega-one" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Resources
						</a>
						<div
							class="dropdown-menu mega-area" aria-labelledby="mega-one">
							<!--SEcond row-->
							<div
								class="row" id="dropdown-size">
								<!--SECOND COLUMN-->
								<div class="col-lg-6">
									<h6>Integration</h6>
									<p>Increase conversions by displaying reviews in user-friendly and customizable widgets: review widget, star ratings, review carousel, Q&A, and more.</p>

									<h6>Support</h6>
									<p>Easily follow up on customer feedback by sending replies, featuring your best reviews, and launching marketing campaigns with our app partners.</p>
								</div>
								<!--END OF FIRST COLUMN-->

								<!--SECOND COLUMN-->
								<div class="col-lg-6">
									<h6>Examples of Inspiration</h6>
									<p>Increase conversions by displaying reviews in user-friendly and customizable widgets: review widget, star ratings, review carousel, Q&A, and more.</p>

									<h6>Blog</h6>
									<p>Easily follow up on customer feedback by sending replies, featuring your best reviews, and launching marketing campaigns with our app partners.</p>
								</div>
								<!--END OF THE SECOND COLUMN-->
							</div>
							<!--END OF THE SECOND ROW-->
							<li class="nav-item">
								<a class="nav-link" href="#">Our apps</a>
							</li>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>

<!--END OF NAVIGATION BAR-->

<!--CUSTOMIZE WIDGETS-->
<div class="py-5 customize">
	<div class="container">
		<div class="customize-container">
			<div class="cust1">
				<img src="images/judge.png" alt="IMAGE NOT SHOWING">
			</div>
			<div class="cust2">
				<h2>Install and Customize Widgets</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dignissimos pariatur quia! Facere odio architecto iusto deserunt odit? Veniam, quos!</p>
				<button class="btn btn-info">Learn More</button>
			</div>
		</div>

	</div>
</div>

<!--showcase-->
<div class="showcase py-5">
	<div class="container">
		<div class="showcase-container">
			<div class="showcase1">
				<h2>Boots Sales With Judge.me
					<br>Products Reviews</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing , odit vitae maxime a alias tempore.</p>
				<button class="btn btn-info">Install Now</button>
			</div>
			<div class="showcase2">
				<img src="/images/judge10.jpg" alt="IMAGE NOT SHOWING" id="imo">
			</div>
		</div>
	</div>
</div>
<!--END OF SHOWCASE-->


<!--ENGAGE YOUR REVIEWS-->
<div class="engage py-5">
	<div class="container">
		<div class="engage-container">
			<div class="engage1">
				<img src="images/judge2.png" alt=" IMAGE NOT SHOWING">
			</div>
			<div class="engage2">
				<h2>Engage Your Reviewers</h2>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, maiores minima tempora ullam nostrum asperiores omnis, ducimus, amet odit vel placeat ex aliquam odio consequuntur rerum illum vero quo! Ex!</p>
				<button class="btn btn-info">Learn More</button>
			</div>
		</div>
	</div>
</div>

<!--COLLECT REVIEWS-->
<div class="collect py-5">
	<div class="container">
		<div class="collect-container">
			<div class="collect1 pt-5">
				<h2>Collect Reviews Effortlessly</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ea consequuntur dicta corporis ab numquam dolorem voluptate iure autem doloribus.</p>
				<button class="btn btn-info">Learn More</button>
			</div>
			<div class="collect2">
				<img src="images/judge1.png" alt="IMAGE NOT SHOWIN">
			</div>
		</div>
	</div>
</div>


<!--Install judgme-->
<div class="install py-5">
	<div
		class="container">
		<!--ROW-->
		<div
			class="install-container">
			<!--FIRST COLUMN-->
			<div class="install1">
				<img src="images/judge.11.jpg" alt="IMAGE NOT SHOWING">
			</div>
			<!--SECOND COLUMN-->
			<div class="install2">
				<h2 class="info">Install Judge.me
					<span class="text-info">In 2 Minutes
					</span>
				</h2>
				<div class="show">
					<img src="images/operator.png" alt="" class="im">
					<div class="show-text">
						<h5>Install Judge.me For Free</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
					</div>
				</div>
				<div class="show">
					<img src="images/pay.png" alt="" class="im">
					<div class="show-text">
						<h5>Get Set Up Quickly</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
					</div>
				</div>
				<div class="show">
					<img src="images/judge9.png" alt="" class="im">
					<div class="show-text">
						<h5>Customize As You Go</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Share your profile-->
<div class="share py-5">
	<div class="container">
		<div class="share-container">
			<div class="share1 py-5">
				<h2>Share Your Social Proof</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing.Lorem ipsum dolor sit amet consectetur adipisicing?</p>
				<button class="btn btn-info" id="move">Learn More</button>
			</div>
			<div class="share2">
				<img src="images/judge3.png" alt="IMAGE NOT SHOWING">
			</div>
		</div>
	</div>
</div>


<!--APP REVIEW-->
<div class="AppReview py-5">
	<h2 class="text-center" id="app-title">The Best Review App In The
		<br>Market ,<span class="text-info">At A Lowest Prices</span>
	</h2>
</div>


<!--Our Plan-->
<div class="plan-wrapper py-5">
	<div id="planning" class="text-center">
		<div class="container">
			<h2>Our Plans</h2>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quod.</p>
		</div>
	</div>

	<div class="plan py-5">
		<div class="container">
			<div class="wrapper">
				<div class="plan1 bg-secondary text-white text-center">
					<h2>Forever Free
						<br><span class="text-info">$0month</span>
					</h2>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
				</div>
				<div class="plan2 bg-info text-white text-center">
					<h2>Awsesome<br>
						<span class="text-secondary">$15month</span>
					</h2>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
					<p>Lorem ipsum dolor sit amet.</p>
				</div>
			</div>
		</div>


		<!--APP SHOWCASE-->
		<div class="appShow py-5">
			<div class="container" id="app-container">

				<div class="app1">

					<img class=" mx-auto" src="images/aboutPic1.png" id="sha">
					<div class="app-body">
						<h5 class="app-title">Best Review App</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-secondary text-white linko">Compare</a>
						<br>
						<a href="#" class="text-info">Read Sucess Stories</a>
					</div>
				</div>

				<div class="app2">

					<img class="mx-auto" src="images/operator.png" id="sha">
					<div class="app-body">
						<h5 class="app-title">The Lowest Price</h5>
						<p class="app-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-secondary text-white linko">Checking Prices</a>
						<br>
						<a href="#" class="text-info">Widgets With Examples</a>
					</div>
				</div>

				<div class="app3">

					<img class="mx-auto" src="images/pay.png" id="sha">
					<div class="app-body">
						<h5 class="app-title">Customer Support</h5>
						<p class="app-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-secondary text-white linko">Contact Support</a>
						<br>
						<a href="#" class="text-info">Intergrate With App</a>
					</div>
				</div>
			</div>
		</div>


		<!--TRUSTED PARTY-->
		<div class="trust py-5">
			<div class="container">
				<div class="trust-container">
					<div class="trust1 py-5">
						<h2>Trusted Third Party to
							<br>
							<span class="text-info">Validate  Your Reviews</span>
						</h2>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed dicta similique voluptatibus. Veritatis odio quod adipisci sunt voluptates mollitia dicta ipsa illum dolor, similique asperiores eum tempore accusamus assumenda vel?</p>
						<a href="#" class="btn btn-info btnTrust">Visit Reviews Platform</a>
					</div>
					<div class="trust2">
						<img src="images/judge9.png" alt="">
					</div>
				</div>
			</div>
		</div>


		<div class="container">
			<div class="user-views">
				<div
					class="review-container">
					<!---REVIEW A-->
					<div class="review-a">
						<h3>Judgeme Reviews * 4.96</h3>
						<span class="text-warning" style="font-size:50px">****</span>
						<p>Based on 189567 reviews</p>
						<hr>

						<!--PROGRESS BAR-->
						<div class="main-progress">
							<div class="pro">
								<span class="text-warning">****</span>
								<progress id="file" value="95" max="100" style="font-size:17px;">
								92%
							</progress>
							<span class="text-info" style="font-size:17px;">75% -18556</span>
						</div>


						<div class="pro">
							<span class="text-warning">***</span>
							<progress id="file" value="40" max="100" style="font-size:17px;"></progress>
						<span class="text-info" style="font-size:17px;">25% -600</span>
					</div>


					<div class="pro">
						<span class="text-warning">**</span>
						<progress id="file" value="32" max="100">
						32%
					</progress>
					<span class="text-info" style="font-size:17px;">15% -856</span>
				</div>

				<div class="pro">
					<span class="text-warning">*</span>
					<progress id="file" value="13" max="100"></progress>
				<span class="text-info" style="font-size:17px;">5% -556</span>

			</div>
			<!---END OF PROGRESS BAR-->
		</div>
	</div>

	<!--REVIEW B-->
	<div class="review-b pt-4">
		<span class="skinning text-info">Ask questions</span>
		<span class="mx-4 spanning text-info">Write a review</span>
	</div>
</div>
<br>
<div class="allApp">
	<p>All App Reviews
		<span class="text-danger">(98764036)</span>
	</p>
	<p>Shopify
		<span class="text-info">
			(9876)</span>
	</p>
	<p>Wo Commerce<span class="text-info">
			(876)</span>
	</p>
	<p>Big Commerce
		<span class="text-info">
			(56876)</span>
	</p>
	<p>SquareSpace<span class="text-info">
			(6743)</span>
	</p>
</div>
<hr>
<br>

<!---CLIENTS VIEWS-->

<div class="client-container py-5">
	<div class="container wrapp-client">
		<div class="client">
			<h6 style="font-size:20px">Anonymous</h6>
			<p>
				<strong>Sep 23, 2023</strong>
			</p>
			<span class="text-warning" style="font-size:20px;">**********</span>
			<hr>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quod inventore officia fugiat exercitationem deserunt ut vel, consequuntur nesciunt minus.</p>
		</div>
		<div class="client">
			<h6 style="font-size:20px">Anonymous</h6>
			<p>
				<strong>Sep 3, 2023</strong>
			</p>
			<span class="text-warning" style="font-size:20px;">**********</span>
			<hr>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quod inventore officia fugiat exercitationem deserunt ut vel, consequuntur nesciunt minus.</p>
		</div>
		<div class="client">
			<h6 style="font-size:20px">Anonymous</h6>
			<p>
				<strong>Sep 15, 2023</strong>
			</p>
			<span class="text-warning" style="font-size:20px;">**********</span>
			<hr>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quod inventore officia fugiat exercitationem deserunt ut vel, consequuntur nesciunt minus.</p>
		</div>
		<div class="client">
			<h6 style="font-size:20px">Anonymous</h6>
			<p>
				<strong>Sep 15, 2023</strong>
			</p>
			<span class="text-warning" style="font-size:20px;">**********</span>
			<hr>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quod inventore officia fugiat exercitationem deserunt ut vel, consequuntur nesciunt minus.</p>
		</div>
		<div class="client">
			<h6 style="font-size:20px">Anonymous</h6>
			<p>
				<strong>Sep 15, 2023</strong>
			</p>
			<span class="text-warning" style="font-size:20px;">**********</span>
			<hr>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quod inventore officia fugiat exercitationem deserunt ut vel, consequuntur nesciunt minus.</p>
		</div>
		<div class="client">
			<h6 style="font-size:20px">Anonymous</h6>
			<p>
				<strong>Sep 15, 2023</strong>
			</p>
			<span class="text-warning" style="font-size:20px;">**********</span>
			<hr>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quod inventore officia fugiat exercitationem deserunt ut vel, consequuntur nesciunt minus.</p>
		</div>

	</div>
</div>


<div class="user py-5">
	<div class="container">
		<div class="user-container text-center mx-auto">
			<span class="pt-5 text-warning font">*</span>
			<h2 class="pt-2">4.95</h2>
			<p>OUT OF 5</p>
		</div>
		<p class="text-center py-5" id="increase">Our Users
			<span class="text-info">Love Us</span>
		</p>
	</div>
</div>

{% endblock %}
