{% extends 'base.html.twig' %}

{% block title %}Customer review shopify app
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<h1>En cours de construction ...</h1>
{% endblock %}
{% block javascripts %}{% endblock %}
